{% extends "core/base.html" %}{% load static %}

{% block content %}

<div class="hero-full-container background-image-container white-text-container" style="background-image:url('{% static 'images/img-home.jpg' %}')">
  <div class="overlay-gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-md-offset-1">
        <div class="hero-full-wrapper">
          <div  class="text-content ">
           
          
        {% include 'core/phrase.html' %}

          </div>
        </div>
      </div>
    </div>
    
  </div>
 
</div>
{% endblock content %}